body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 1em auto;
    width: 600px;
    padding: 1em 2em 1em;
    border: 1px solid black;
    border-radius: 1em;
}
h1 {
    color: cornflowerblue;
}
h4 {
    margin-bottom: 0.5em;
}
label {
    display: inline-block;
    margin-right: 1em;
}
input {
    margin-top: 1em;
    margin-right: 1em;
}
fieldset {
    border-radius: 1em;
    margin-bottom: 1em;
}
.hide {
    display: none;
}
#score1, #score2, #die, #total {
    width: 5em;
}
#message {
    color:red;
    font-weight: bold;
}